<!DOCTYPE html>
<html>
    <head>
        <title>HikeNL</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/fabcc8a5a5.js" crossorigin="anonymous"></script>
    </head>
    <body>
		
		<div class="container">
			<% if(errorMessage && errorMessage.length > 0){ %>
				<div class="alert alert-danger flash-message">
					<%= errorMessage %>
				</div>
			<% } %>
			<% if(successMessage && successMessage.length > 0){ %>
				<div class="alert alert-success flash-message">
					<%= successMessage %>
				</div>
			<% } %>
		</div>

		<div id="landing-header">
			<h1>Welcome to HikeNL!</h1>
            <a class="btn btn-success btn-lg" href="/trails">
                <i class="fas fa-hiking"></i> Get started
            </a>
		</div>

		<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>

<%- include('partials/footer') %>