.detail-img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.index-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.jumbo-background {
    background-color: rgb(233, 236, 239);
}